:root {
    --blue: #3d65ac;
    --red: #ef3e39;
}

* {
    box-sizing: border-box;
}

html {
    background: rgb(61, 101, 172);
    background-image: linear-gradient(145deg, rgba(61, 101, 172, 1) 0%, rgb(6, 109, 32) 100%);
    background-size: cover;
    height: 100%;
}

.player {
    background: rgb(44, 56, 75);
    background: linear-gradient(145deg, rgba(44, 56, 75, 1) 0%, rgb(53, 147, 224) 100%);
    border: 1px solid #bcc5d2;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 15%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.player img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-right: 25px;
    width: auto;
}

.player img:hover {
    box-shadow: 0 0 10px #fff;
    border-radius: 50%;
}